
@media all and ( max-width : 700px ){
    .left-area{
        width: 100%;
      
       
       
        float: none;
    }
    .center-area{
        width: 100%;
      
       
       
        float: none;
    }
    .right-area{
        width: 100%;
      
       
       
        float: none;

}

