body{
    background-color: #d8dce2;
    
 }
 
 
 header{
 
     color: #486a8d;
     font-size: 86px;
     
 
 }
 
 
 .super1  input{
     display: block;
     background: #fcf7e1;
     color: #c6c1af;
     
     border: solid #486a8d;
     padding :10px 300px 10px 1px;
 }
  
     
    
 
 #submit{
     
     background: #486a8d;
     color: white;
     padding :10px 200px 10px 200px;
     text-align: center;
     display: block;
 }
 
 label{
     color: #486a8d;
 }
 
 .form  {
 
     width: 600px;
     height: 400px;
     margin: 200px auto;
     display: block;
     
 }
 
 
 